.button {
    -fx-font-weight: bold;
}
#root{
    -fx-font-family: Roboto;	
    src:"/font/roboto/Roboto-Regular.ttf";
}

.jfx-tool-bar {
	-fx-font-size: 20.0;
	-fx-font-weight: BOLD;
	-fx-background-color: #5264AE;
	-fx-pref-width: 100.0%;
	-fx-pref-height: 64.0px;
}


.jfx-tool-bar HBox {
	-fx-alignment:center;
	-fx-spacing: 25.0;
	-fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label{
	-fx-text-fill: WHITE;
}


.jfx-decorator {
	-fx-decorator-color: derive(#5264AE,-20%);
}
.jfx-decorator .jfx-decorator-buttons-container{
	-fx-background-color:-fx-decorator-color;
}
.jfx-decorator .resize-border{
	-fx-border-color:-fx-decorator-color;
	-fx-border-width: 0 4 4 4;
}

#titleBurgerContainer {
    visibility: hidden;
}